---
import Layout from '../../layouts/Layout.astro';
import VoicePage from '../../components/Voz';

const sala = Astro.params.roomCode || "";
---

<Layout title="Welcome to Astro.">
	<main class="w-full flex justify-center bg-gray-100">
		<VoicePage sala={sala} client:load />
	</main>
</Layout>