<section>
  <div class="flex flex-col h-screen">
    <header class="fixed top-0 left-0 right-0 z-10 flex h-20 w-full shrink-0 items-center px-4 md:px-6 bg-primary">
      <div class="flex items-center gap-4">
        <a href="#"
          class="inline-flex h-9 w-max items-center justify-center rounded-md bg-primary-foreground px-4 py-2 text-sm font-medium text-[#003d85] shadow transition-colors hover:bg-[#001a39] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
          Voz a Señas
        </a>
        <a href="#"
          class="inline-flex h-9 w-max items-center justify-center rounded-md bg-primary-foreground px-4 py-2 text-sm font-medium text-[#003d85] shadow transition-colors hover:bg-[#001a39] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
          Señas a Texto
        </a>
      </div>
      <div class="ml-auto">
        <a href="#"
          class="inline-flex h-9 w-max items-center justify-center rounded-md bg-primary-foreground px-4 py-2 text-sm font-medium text-[#003d85] shadow transition-colors hover:bg-[#001a39] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
          Sobre Nosotros
        </a>
      </div>
    </header>
    <div class="flex-1 bg-[#003d85] p-8 rounded-lg mt-20 flex items-center justify-center">
      <div class="bg-gray-300 p-8 rounded-lg w-1/2 h-3/4 shadow-lg">
        <div class="flex flex-col items-center">
          <button (click)="toggleRecording()" 
            class="{{ isRecording ? 'bg-red-500' : 'bg-blue-500' }} text-white py-2 px-4 rounded mt-4">
            {{ streamStatus }}
          </button>
          <section class="bg-slate-50 w-60 h-60 mx-auto absolute top-72 rounded-md left-0 right-0">
            @if (img != '') {
              <img class="w-full h-full object-contain" src="{{img}}">
            }
          </section>
          <canvas #audioCanvas class="mt-4 absolute bottom-24"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>