---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="SignAI">
    <Navbar />
    <main id="home" class="relative w-full h-full flex flex-col items-center justify-center">
        <section class="absolute top-0 left-0 -z-20 w-full h-full">
            <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='rgba(245, 245, 245, 1.00)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linecap='square' stroke-width='1' stroke='rgba(163, 163, 163, 1.00)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linecap='square' stroke-width='1' stroke='rgba(212, 212, 212, 1.00)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linecap='square' stroke-width='1' stroke='rgba(229, 229, 229, 1.00)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linecap='square' stroke-width='1' stroke='rgba(163, 163, 163, 1.00)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
        </section>
        <section class="absolute bg-neutral-100 bg-opacity-40 top-0 left-0 -z-10 w-full h-full"></section>

        <section class="max-w-4xl bg-neutral-300 bg-opacity-20 px-6 py-4">
            <h1 class="text-6xl font-semibold font-montserrat text-neutral-700">Potencia tus aplicaciones con
                <span class="font-bold font-montserrat animate-fontColorsAnimated text-neutral-900">SignAI</span>
            </h1>
            <p class="font-nunito text-neutral-700 text-xl w-full my-4">
                Nuestro servicio API de interpretación de Lengua de Señas con
                <span class="font-bold">Inteligencia Artificial</span> da un valor agregado a tus soluciones al darles
                un nuevo aire de <span class="font-bold">inclusión</span> a tus usuarios.
            </p>
            <div class="w-full flex items-center font-nunito">
                <section class="flex items-center justify-center cursor-pointer mr-2 py-2 px-6 rounded-md border border-neutral-200 bg-neutral-800 text-neutral-300 shadow-md hover:bg-neutral-700 transition-all">
                    <span>Comenzar</span>
                </section>
                <section class="flex items-center justify-center cursor-pointer ml-2 py-2 px-6 rounded-md border border-neutral-400 bg-neutral-200 text-neutral-700 shadow-md hover:bg-neutral-300 transition-all">
                    <span>Documentación</span>
                </section>
            </div>
        </section>
    </main>
    <main id="caracteristicas" class="relative w-full h-full flex flex-col items-center justify-center">
        <section class="absolute top-0 left-0 -z-20 w-full h-full">
            <svg id='bg2' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'>
                <defs>
                    <pattern id='bg2_a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='rgba(23, 23, 23, 1.00)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linecap='square' stroke-width='1' stroke='rgba(38, 38, 38, 1.00)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linecap='square' stroke-width='1' stroke='rgba(64, 64, 64, 1.00)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linecap='square' stroke-width='1' stroke='rgba(82, 82, 82, 1.00)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linecap='square' stroke-width='1' stroke='rgba(115, 115, 115, 1.00)' fill='none'/></pattern>
                </defs>
                <rect width='800%' height='800%' transform='translate(0,0)' fill='url(#bg2_a)'/>
            </svg>
        </section>
        <section class="absolute bg-neutral-950 bg-opacity-40 top-0 left-0 -z-10 w-full h-full"></section>

        <section class="flex flex-col max-w-4xl bg-neutral-950 bg-opacity-25 px-6 py-4">
            <h1 class="text-6xl font-semibold font-montserrat text-neutral-100">Características</h1>
            <p class="text-lg font-nunito text-neutral-300 my-2">
                SignAI se caracteriza por la implementación de Inteligencia Artificial en sus procesos. Los módulos que componen nuestro servicio son:
            </p>
            <div class="flex justify-between my-4">
                <section class="flex flex-col items-center w-56 h-64 bg-neutral-900 border border-neutral-950 rounded-md text-neutral-100 py-4 px-6">
                    <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M1 22a8 8 0 1 1 16 0h-2a6 6 0 0 0-12 0zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4M21.548.784A13.94 13.94 0 0 1 23 7c0 2.233-.523 4.344-1.452 6.217l-1.645-1.197A12 12 0 0 0 21 7a12 12 0 0 0-1.097-5.02zm-3.302 2.4A10 10 0 0 1 19 7a10 10 0 0 1-.754 3.816l-1.677-1.22A8 8 0 0 0 17 7a8 8 0 0 0-.43-2.596z"/></svg>
                    <h3 class="font-montserrat font-bold">Voz a Señas</h3>
                    <div class="w-48 h-0.5 bg-neutral-800 bg-opacity-40 my-2"></div>
                    <p class="font-nunito text-neutral-300 text-sm">
                        El módulo <span class="font-bold">"Voz a Señas"</span>
                        se encargará de interpretar oraciones en lenguaje natural
                        a Lengua de Señas (LSCh).
                    </p>
                </section>
                <section class="flex flex-col items-center w-56 h-64 bg-neutral-900 border border-neutral-950 rounded-md text-neutral-100 py-4 px-6">
                    <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007zM4 5v14h16V5zm8 10a3 3 0 1 0 0-6a3 3 0 0 0 0 6m0 2a5 5 0 1 1 0-10a5 5 0 0 1 0 10m5-11h2v2h-2z"/></svg>
                    <h3 class="font-montserrat font-bold">Señas a Texto</h3>
                    <div class="w-48 h-0.5 bg-neutral-800 bg-opacity-40 my-2"></div>
                    <p class="font-nunito text-neutral-300 text-sm">
                        El módulo <span class="font-bold">"Señas a Texto"</span>
                        se encargará clasificar las señas de un determinado vídeo,
                        permitiendo la interpretación a Lenguaje Natural.
                    </p>
                </section>
                <section class="flex flex-col items-center w-56 h-64 bg-neutral-900 border border-neutral-950 rounded-md text-neutral-100 py-4 px-6">
                    <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M13 21v2h-2v-2H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6a4 4 0 0 1 3 1.354A4 4 0 0 1 15 3h6a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zm7-2V5h-5a2 2 0 0 0-2 2v12zm-9 0V7a2 2 0 0 0-2-2H4v14z"/></svg>
                    <h3 class="font-montserrat font-bold">Gestor de Datos</h3>
                    <div class="w-48 h-0.5 bg-neutral-800 bg-opacity-40 my-2"></div>
                    <p class="font-nunito text-neutral-300 text-sm">
                        El módulo <span class="font-bold">"Gestor de Datos"</span>
                        es nuestra digitalización del diccionario de lengua de señas Chileno.
                    </p>
                </section>
            </div>
        </section>
    </main>
    <main id="planes" class="relative w-full h-full flex flex-col items-center justify-center">
        <section class="absolute top-0 left-0 -z-20 w-full h-full">
            <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='rgba(245, 245, 245, 1.00)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linecap='square' stroke-width='1' stroke='rgba(163, 163, 163, 1.00)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linecap='square' stroke-width='1' stroke='rgba(212, 212, 212, 1.00)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linecap='square' stroke-width='1' stroke='rgba(229, 229, 229, 1.00)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linecap='square' stroke-width='1' stroke='rgba(163, 163, 163, 1.00)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
        </section>
        <section class="absolute bg-neutral-100 bg-opacity-40 top-0 left-0 -z-10 w-full h-full"></section>

        <section class="flex flex-col max-w-4xl bg-neutral-300 bg-opacity-20 px-6 py-4">
            <h1 class="text-6xl font-semibold font-montserrat text-neutral-800">Planes</h1>
            <p class="text-lg font-nunito text-neutral-700 my-2">
                SignAI se caracteriza por la implementación de Inteligencia Artificial en sus procesos. Los módulos que componen nuestro servicio son:
            </p>
            <div class="flex justify-between my-4">
                <section class="flex flex-col w-64 h-72 bg-neutral-100 border border-neutral-300 rounded-md text-neutral-100 py-4 px-6">
                    <h2 class="text-3xl font-montserrat font-bold text-neutral-800">Hobby</h2>
                    <h3 class="text-xl font-montserrat font-semibold text-neutral-900">$0</h3>
                    <span class="font-nunito text-neutral-700">Por mes</span>
                    <div class="self-center w-48 h-0.5 bg-neutral-300 bg-opacity-40 my-2"></div>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Voz a señas
                    </p>
                    <span class="text-neutral-600 font-nunito text-xs ml-6">100 peticiones por hora</span>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-yellow-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Señas a texto
                    </p>
                    <span class="text-neutral-600 font-nunito text-xs ml-6">20 peticiones por hora</span>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-yellow-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Soporte básico
                    </p>
                    <div class="flex items-center justify-center font-nunito font-semibold cursor-pointer w-full bg-neutral-700 border py-2 mt-4 rounded-md">
                        <span>Registrarte</span>
                    </div>
                </section>
                <section class="flex flex-col w-64 h-72 bg-neutral-100 border border-neutral-300 rounded-md text-neutral-100 py-4 px-6">
                    <h2 class="text-3xl font-montserrat font-bold text-neutral-800">PRO</h2>
                    <h3 class="text-xl font-montserrat font-semibold text-neutral-900">$10</h3>
                    <span class="font-nunito text-neutral-700">Por mes</span>
                    <div class="self-center w-48 h-0.5 bg-neutral-300 bg-opacity-40 my-2"></div>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Voz a señas
                    </p>
                    <span class="text-neutral-600 font-nunito text-xs ml-6">500 peticiones por hora</span>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Señas a texto
                    </p>
                    <span class="text-neutral-600 font-nunito text-xs ml-6">200 peticiones por hora</span>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Soporte Prioritario
                    </p>
                    <div class="flex items-center justify-center font-nunito font-semibold cursor-pointer w-full bg-neutral-700 border py-2 mt-4 rounded-md">
                        <span>Registrarte</span>
                    </div>
                </section>
                <section class="flex flex-col w-64 h-72 bg-neutral-100 border border-neutral-300 rounded-md text-neutral-100 py-4 px-6">
                    <h2 class="text-3xl font-montserrat font-bold text-neutral-800">Empresa</h2>
                    <h3 class="text-xl font-montserrat font-semibold text-neutral-900">Contactar</h3>
                    <span class="font-nunito text-neutral-700">Por mes</span>
                    <div class="self-center w-48 h-0.5 bg-neutral-300 bg-opacity-40 my-2"></div>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Voz a señas
                    </p>
                    <span class="text-neutral-600 font-nunito text-xs ml-6">Ilimitado</span>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Señas a texto
                    </p>
                    <span class="text-neutral-600 font-nunito text-xs ml-6">Ilimitado</span>
                    <p class="flex items-center text-sm font-semibold gap-2 text-neutral-700 w-full font-nunito">
                        <svg class="h-4 w-4 text-green-400" data-id="69" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"></path></svg>
                        Soporte Dedicado
                    </p>
                    <div class="flex items-center justify-center font-nunito font-semibold cursor-pointer w-full bg-neutral-700 border py-2 mt-4 rounded-md">
                        <span>Contactar</span>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <main id="sobrenosotros" class="relative w-full h-full flex flex-col items-center justify-center">
        <section class="absolute top-0 left-0 -z-20 w-full h-full">
            <svg id='bg2' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'>
                <defs>
                    <pattern id='bg2_a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='rgba(23, 23, 23, 1.00)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linecap='square' stroke-width='1' stroke='rgba(38, 38, 38, 1.00)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linecap='square' stroke-width='1' stroke='rgba(64, 64, 64, 1.00)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linecap='square' stroke-width='1' stroke='rgba(82, 82, 82, 1.00)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linecap='square' stroke-width='1' stroke='rgba(115, 115, 115, 1.00)' fill='none'/></pattern>
                </defs>
                <rect width='800%' height='800%' transform='translate(0,0)' fill='url(#bg2_a)'/>
            </svg>
        </section>
        <section class="absolute bg-neutral-950 bg-opacity-40 top-0 left-0 -z-10 w-full h-full"></section>

        <section class="flex flex-col max-w-4xl bg-neutral-950 bg-opacity-25 px-6 py-4">
            <h1 class="text-6xl font-semibold font-montserrat text-neutral-100">Sobre nosotros</h1>
            <p class="text-lg font-nunito text-neutral-300 my-2">
                Somos un grupo de 3 estudiantes de Ingeniería Informática en DuocUC Concepción. El proyecto SignAI nace en la asignatura de CAPSTONE y de una problemática real que decidimos afrontar.
                <br>
                La problemática ha existido desde siempre y es la inmensa barrera comunicacional que existe entre una persona sorda/muda y una persona oyente.
                <br>
                Es bajo ese contexto que, aprovechando tecnologías punteras como la
                <span class="animate-fontColorsAnimatedWhite font-semibold">Inteligencia Artificial</span>
                decidimos abordar el problema con tal de crear las bases de un servicio
                intérprete que sea capaz de eliminar ésta barrera y apoyar una
                tendencia de
                <span class="animate-fontColorsAnimatedWhite font-semibold">Tecnología Inclusiva</span>.
                <br>
                El Equipo se compone de 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-200">Ariel Silva</span> 
                cómo Líder de Proyecto, 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-200">Jenniffer Coñuel</span> 
                y 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-200">Mattías Gonzalez</span>
                , de la mano de 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-200">Gerardo Galán</span> 
                cómo Profesor Guía.
                <br>
                El proyecto ha participado en: 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-300">Preview DemoDay DuocUC</span>, 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-300">DemoDay DuocUC</span> y 
                <span class="animate-fontColorsAnimatedWhite font-semibold delay-300">Capstone</span>.
            </p>
        </section>
    </main>
</Layout>