<section class="w-screen h-screen absolute top-0 left-0 -z-50">
  <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(3) rotate(130)'><rect x='0' y='0' width='100%' height='100%' fill='rgba(10, 10, 10, 1.00)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='rgba(23, 23, 23, 1.00)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
</section>

<main class="w-full h-full px-8 py-10 relative" > 
  <ion-segment value="default" mode="ios">
    <ion-segment-button value="default">
      <section class="py-2">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256">
          <path fill="currentColor" d="M80 128V64a48 48 0 0 1 96 0v64a48 48 0 0 1-96 0m128 0a8 8 0 0 0-16 0a64 64 0 0 1-128 0a8 8 0 0 0-16 0a80.11 80.11 0 0 0 72 79.6V240a8 8 0 0 0 16 0v-32.4a80.11 80.11 0 0 0 72-79.6"/>
        </svg>
      </section>
    </ion-segment-button>

    <ion-segment-button value="segment">
      <section class="py-2">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="currentColor" d="M9 3h6l2 2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4zm3 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12m0-2a4 4 0 1 1 0-8a4 4 0 0 1 0 8"/>
        </svg>
      </section>
    </ion-segment-button>
  </ion-segment>

  <section class="bg-slate-50 w-60 h-60 mx-auto absolute top-60 rounded-md left-0 right-0">
    @if (img != '') {
      <img class="w-full h-full object-contain" src="{{img}}">
    }
  </section>

  <section (click)="toggleRecord()" class="absolute bottom-40 left-0 right-0 mx-auto w-28 h-28 border-4
       border-sky-950 shadow-md rounded-full bg-red-400"> 
       <div class="ion-activatable relative overflow-hidden rounded-full w-full h-full">
        <ion-ripple-effect></ion-ripple-effect>
       </div>
  </section>
</main>