<main class="bg-sky-900 w-full h-full px-8 py-10 relative" > 
  <ion-segment value="default">
    <ion-segment-button value="default">
      <section class="py-2">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256">
          <path fill="currentColor" d="M80 128V64a48 48 0 0 1 96 0v64a48 48 0 0 1-96 0m128 0a8 8 0 0 0-16 0a64 64 0 0 1-128 0a8 8 0 0 0-16 0a80.11 80.11 0 0 0 72 79.6V240a8 8 0 0 0 16 0v-32.4a80.11 80.11 0 0 0 72-79.6"/>
        </svg>
      </section>
    </ion-segment-button>

    <ion-segment-button value="segment">
      <section class="py-2">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="currentColor" d="M9 3h6l2 2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4zm3 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12m0-2a4 4 0 1 1 0-8a4 4 0 0 1 0 8"/>
        </svg>
      </section>
    </ion-segment-button>
  </ion-segment>

  <section class="bg-slate-50 w-60 h-60 mx-auto absolute top-60 rounded-md left-0 right-0">

  </section>

  <section class="absolute bottom-40 left-0 right-0 mx-auto w-28 h-28 border-4
       border-sky-950 shadow-md rounded-full bg-red-400"> 
       <div class="ion-activatable relative overflow-hidden rounded-full w-full h-full">
        <ion-ripple-effect></ion-ripple-effect>
       </div>
  </section>
</main>